.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinkContainer {
  display: flex;
  gap: 20px;
}

.navLinkContainer > a {
  position: relative;
  text-decoration: none;
  color: var(--navlink-primary-color);
  transition: color 0.7s ease;
  font-size: 20px;
}

.navLinkContainer > a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--navlink-primary-color);
  transition: all 0.3s ease-in-out;
}

.navLinkContainer > a:hover {
  color: var(--navlink-hover-color);
}

.navLinkContainer > a:hover::before {
  width: 100%;
  background-color: var(--navlink-hover-color);
}

@media screen and (max-width: 1180px) {
  .navbarContainer > a {
    display: none;
  }
}
