.paddingYxs {
  padding: 40px 5%;
}

.paddingYs {
  padding: 140px 5%;
}

.paddingYm {
  padding: 150px 5%;
}

.paddingYl {
  padding: 200px 5%;
}

.sectionColorMain {
  background-color: var(--section-main-bg-color);
}

.sectionColorSecondary {
  background-color: var(--section-secondary-bg-color);
}

.sectionColorTertiary {
  background-color: var(--section-tertiary-bg-color);
}

.sectionColorTertiary2 {
  background-color: var(--section-tertiary2-bg-color);
}

.sectionColorTertiary3 {
  background-color: var(--section-tertiary3-bg-color);
}

@media screen and (max-width: 1180px) {
  .paddingYm {
    padding: 80px 5%;
  }
}
