.footerContainer {
  display: flex;
  gap: 80px;
  color: var(--section-secondary-text-color);
}

.footerContentLeft {
  flex: 1;
}

.footerContentLeft > h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footerContentLeft > p {
  font-size: 18px;
  line-height: 1.6em;
}

.footerContentRight {
  flex: 1;
}
