.footerContainer {
  display: flex;
  gap: 80px;
  color: var(--section-secondary-text-color);
}

.footerContentLeft {
  flex: 1;
}

.footerContentLeft > h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footerContentLeft > p, .footerContentRight > p {
  font-size: 18px;
  line-height: 1.6em;
}

.footerContentRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.6em;
}

.footerContentRight > h4 {
  font-size: 40px;
}

@media screen and (max-width: 1180px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
  }

  .footerContentLeft > h3 {
    font-size: 18px;
  }

  .break {
    display: none;
  }
}
